/* toolbar main title css */
.title {
  flex: 1 1 auto;
  text-align: center;
  text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
  -moz-text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
  -webkit-text-shadow: -1px 0 #F2F1F6, 0 1px #F2F1F6, 1px 0 #F2F1F6, 0 -1px #F2F1F6;
}


/* side bar css */
.example-sidenav {}
.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav > div {
  margin: 10px;
}
.example-sidenav-content {
  display: flex;
  width: 100%;
  height: 920px;
  align-items: center;
  justify-content: center;
}

/* sidebar button css */
.active_button {
  background:#fff;
  color:#353535;
  height:60px;
  font-size:0.8em;
  padding:0 2em;
  border:none;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  width:100%;
}

.default_button{
  background:#353535;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:0.8em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.default_button:hover{
  background:#fff;
  color:#353535;
}
.default_button:before,.default_button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #353535;
  transition:400ms ease all;
}
.default_button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.default_button:hover:before,.default_button:hover:after{
  width:100%;
  transition:800ms ease all;
}