<div class="mat-app-dark" >
    <mat-toolbar>  
        <mat-toolbar-row>
            <button mat-stroked-button (click)="drawer.toggle()"><i class="material-icons">menu</i></button>
            <h2 class="title">Bulletin Board Example</h2>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-drawer-container class="example-container" [hasBackdrop]="false">
    <!-- <mat-drawer class="example-sidenav" #drawer [mode]="Over"> -->
    <mat-drawer class="example-sidenav" #drawer>
        <div>
            <button [ngClass]="button_color_arr[0] ? 'active_button' : 'default_button'" mat-button (click)="side_click(0)">&nbsp;
                <i class="material-icons">home</i>&nbsp;&nbsp;
                <label class="side_label">Home</label>
            </button>
        </div>
        <div>
            <button [ngClass]="button_color_arr[1] ? 'active_button' : 'default_button'" mat-button (click)="side_click(1)">&nbsp;
                <i class="material-icons">list_alt</i>&nbsp;&nbsp;
                <label class="side_label">Board</label>
            </button>
        </div>
        <div>
            <button [ngClass]="button_color_arr[2] ? 'active_button' : 'default_button'" mat-button (click)="side_click(2)">
                <i class="material-icons">list_alt</i>&nbsp;&nbsp;
                <label class="side_label">Board1</label>
            </button>
        </div>
        <div>
            <button [ngClass]="button_color_arr[3] ? 'active_button' : 'default_button'" mat-button (click)="side_click(2)">
                <i class="material-icons">list_alt</i>&nbsp;&nbsp;
                <label class="side_label">empty01</label>
            </button>
        </div>
        <div>
            <button [ngClass]="button_color_arr[4] ? 'active_button' : 'default_button'" mat-button (click)="side_click(2)">
                <i class="material-icons">list_alt</i>&nbsp;&nbsp;
                <label class="side_label">empty02</label>
            </button>
        </div>
        <div>
            <button [ngClass]="button_color_arr[5] ? 'active_button' : 'default_button'" mat-button (click)="side_click(2)">
                <i class="material-icons">list_alt</i>&nbsp;&nbsp;
                <label class="side_label">empty03</label>
            </button>
        </div>
    </mat-drawer>
    <mat-drawer-content class="example-sidenav-content">
        <div [@routeAnimation]="getAnimationData(routerOutlet)" >
            <router-outlet #routerOutlet="outlet"></router-outlet>
        </div>
    </mat-drawer-content>
    </mat-drawer-container>
</div>




